ul > li, ul > li a {
    line-height: 30px;
}

.link {
    height: 30px;
    width: 30px;
    background: url("../images/angry_birds.png") 0 -10;
}

.link:before {
    content: "";
    background-image: url("../images/angry_birds.png");
    background-size: ;
}