.btn {
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  outline: none;
  padding: 10px 20px;
  margin-right: 10px;
}