.container {
    display: flex;
    border: 1px solid #497ddd;
    padding: 5px;

    /*flex-wrap: wrap;*/
    justify-content: space-between;
    /*flex-direction: column;*/
}

.flex-item {
    border: 1px #ff9933 dashed;
    width: 150px;
}

/*.container-2 {*/
/*    border: 1px solid #497ddd;*/
/*    padding: 5px;*/
/*   */

/*}*/

/*.container-2 .flex-item {*/
/*    display: inline-block;*/
/*    width: 260px;*/
/*}*/

