* {
    font-family: helvetica, Arial, sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    height: 180px;
    width: 100%;
}

.ra {
    color: #000000;
}

.mda {
    color: #4bcaff;
}

.logo {
    height: 74px;
    width: 292px;
    font-size: 80px;
    text-align: center;
}

.nav {
    height: 61px;
    width: 100%;
    background-color: #35444F;
    text-align: center;
    margin: 45px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #ffffff;
    text-align: center;
    padding: 16px 33px;
    font-size: 24px;
    font-weight: bold;
    transition: background-color, border 1s;
}

.nav a:hover {
    background-color: #222F3A;
    border: 1px solid #818181;
}

.main {
    width: 100%;
}

.aside {
    box-sizing: border-box;
    display: inline-block;
    height: 399px;
    width: 344px;
    border: 1px solid #35444F;
    margin-top: 38px;
    float: left;
}

.aside ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.aside a {
    font-size: 30px;
    color: #485863;
    display: block;
    padding: 24px 32px;
}

.aside li {
    height: 79.4px;
    transition: all 1s;
}

.aside li:hover {
    background-color: #DBDBDB;
    padding-left: 15px;
}

.aside a:hover {
    color: #000000;
}

.img {
    box-sizing: border-box;
    display: inline-block;
    width: 885px;
    height: 529px;
    border: 1px solid #35444F;
    margin-top: 38px;
    text-align: center;
    margin-left: 51px;
}

img {
    margin-top: 56px;
}

.text {
    display: inline-block;
    font-size: 18px;
    height: 246px;
    width: 820px;
    margin: 38px 30px 38px 430px;
}

.footer {
    width: 100%;
    height: 69px;
    background: #B4B7BA;
    display: inline-block;
}

.bottom {
    width: 809px;
    height: 26px;
    margin: 19px 214px 11px 22px;
    display: inline-block;
    font-size: 28px;
}

.bottom a {
    color: #0C1927;
}

.cop {
    display: inline-block;
    font-size: 24px;
    margin: 0 auto;
}

.bottom a.blue {
    color: #3181A6;
    text-decoration: underline;
}