body {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.fas, .far {
    font-size: 25px;
}
.contact-us, .btn1, .btn2, .btn3 {
    text-transform: uppercase;
}
table {
    border-width: 20px;
    border-style: solid;
    border-color: #3a4965;
    border-collapse: collapse;
    margin: 0 auto;
    width: 1192px;
}
td {
    text-align: center;
    padding: 30px 0;
    width: 277px;
}

td, th {
    border: 1px solid #d9d9d9;
}
.choose-your {
    background-color: #fafafa;
    color: #484848;
    font-size: 18px;
    padding-top: 17px;
}
.pricing-plan {
    font-size: 30px;
}
.standard {
    background-color: #89c331;
    border-color: #89c331;
    color: #ffffff;
    font-size: 24px;
    padding: 25px 70px;
}

.ultimate {
    background-color: #f04a56;
    border-color: #f04a56;
    color: #ffffff;
    font-size: 30px;
}

.premium {
    background-color: #20807c;
    border-color:  #20807c;
    color: #ffffff;
    font-size: 24px;
}
.price {
    background-color: #fafafa;
    padding: 0;
    height: 86px;
}

.dollar {
    display: inline-block;
    font-size: 60px;
    color: #484848;
    font-weight: bold;
}

.coins-per-month {
    display: inline-block;
    margin: 0;
}
p {
    margin: 0;
}

.coins {
    color: #484848;
    font-size: 26px;
    font-weight: bold;
    padding-right: 80px;
}
.per-month {
    font-size: 18px;
    color: #484848;
}
.background-color-tr {
    background-color: #f2f2f2;
    color: #848484;
}
.background-color-tr-grey {
    background-color: #e3e3e3;
    color: #848484;
}
.contact-us {
    background: linear-gradient(to bottom, #484848 85%, #404040 15%);
    border-color: #484848;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    width: 192px;
    height: 49px;
    transition: 0.5s;
}
.btn1 {
    background: linear-gradient(to bottom, #89c331 85%, #79b027 15%);
    border-color: #89c331;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    width: 192px;
    height: 49px;
    transition: 0.5s;
}

.btn2 {
    background: linear-gradient(to bottom, #f04a56 85%, #df3a46 15%);
    border-color: #f04a56;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    width: 192px;
    height: 49px;
    transition: 0.5s;
}

.btn3 {
    background: linear-gradient(to bottom, #20807c 85%, #16736f 15%);
    border-color: #20807c;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    width: 192px;
    height: 49px;
    transition: 0.5s;
}
.background-btn1 {
    background-color: #dddddd;
}

.background-btn2 {
    background-color: #eeeeee;
}

.background-btn3 {
    background-color: #f4f4f4;
}

.background-btn4 {
    background-color: #eeeeee;
}
.contact-us:hover {
    background: #dddddd;
    color: #484848;
    font-size: 17px;
    /*transition: 0.3s;*/
}
.btn1:hover {
    background: #5B9026;
    font-size: 17px;
    transition: 0.5s;
    text-decoration: underline;
}

.btn2:hover {
    background: #9e252e;
    font-size: 17px;
    transition: 0.5s;
    text-decoration: underline;
}

.btn3:hover {
    background: #165c58;
    font-size: 17px;
    transition: 0.5s;
    text-decoration: underline;
}
