header {
    background-color: #4bcaff;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: white;
}
.menu {
    background-color: black;
    display: flex;
    height: 50px;
    color: white;
    align-items: center;
    justify-content: flex-start;
}

.menu div {
    padding: 5px;
}