*{
    box-sizing: border-box;
    background: #EDEDED;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

input {
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    transition: .3s linear;
}

.focused {
    border-color: #3CB371;
    box-shadow: 0 0 8px 0 #3CB371;
}

span {
    font-size: 20px;
    font-weight: bold;
}

.err {
    border: 2px solid red;
}

.btn-x {
    background-color: #C0C0C0;
    border: 2px solid #A9A9A9;
    border-radius: 15px;
    font-size: 12px;
}

