.price {
  color: red;
}

.name {
  height: 35px;
  font-weight: bold;
}

.item {
  position: relative;
  width: 20%;
  padding: 10px;
  margin-bottom: 15px;
  text-align: left;
  margin-right: 25px;

  &:hover {
    box-shadow:0 0 12px 1px rgba(0,0,0,.3);
  }

  img {
    width: 100%;
  }
}

 .img_wrapper {
 	height: 350px;
 	overflow-y: hidden;
 }

.bottom, .header {
  display: flex;
  justify-content: space-between;
}