.container {
    background-color: black;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    border: 1px black solid;
}

.main {
    border: 1px white solid;
    height: 200px;
    width: 30%;
    margin: 150px auto;
    background-color: silver;
}

.main::before {
    content: "";
    border: 1px white solid;
    display: block;
    height: 200px;
    width: 20%;
    background-color: red;
}

