.modal-pass {
  position: fixed;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000060;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 600px;

  p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
  }
}

.modal-header {
  background-color: #d44637;
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  p {
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    color: #ffffff;
  }
}

.modal-body {
  background-color: #e74c3c;
  padding: 40px;
}

