* {
    font-family: helvetica, Verdana, sans-serif;
    color: #ffffff;
}

.container {
    min-height: 768px;
    min-width: 1366px;
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.2) ), url('../images/background.png');
}

a {
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

header {
    position: absolute;
    padding-top: 49px;
    padding-left: 155px;
    width: 1062px;
    /*margin: 0 auto;*/
}

.logo {
    float: left;
    position: relative;
}

.logo-1 {
    display: inline-block;
    margin: 0 auto;
}

.milan, .hol {
    margin: 0;
}

.milan {
    font-size: 29px;
    font-weight: bold;
    vertical-align: top;
    margin-left: 12px;
}

.hol {
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
}

.logo-front {
    opacity: 0;
    float: left;
    position: absolute;
    bottom: 0;
    transition: all 0.3s;
}

.logo-1-front {
    display: inline-block;
    margin: 0 auto;
}

.milan-front, .hol-front {
    margin: 0;
    color: #f26522;
}

.milan-front {
    font-size: 29px;
    font-weight: bold;
    vertical-align: top;
    margin-left: 12px;
}

.hol-front {
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
}

.logo:hover .logo-front {
    opacity: 1;
    transition: all 0.3s;
}

.contact {
    float: right;
    font-size: 18px;
    padding-top: 10px;
    text-align: right;
}

main {
    position: relative;
    width: 1062px;
    top: 141px;
    left: 157px;
}

figure {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.layer2 {
    margin-left: 65px;
}

.layer3 {
    margin-left: 65px;
}

figcaption {
    font-size: 18px;
    padding-top: 20px;
}

.layer2-front {
    position: absolute;
    border: 1px #f26522 solid;
    background-color: #f26522;
    bottom: 43px;
    height: 61px;
    width: 307px;
    opacity: 0;
    transform: translateY(63px);
    /*transition: all 0.3s;*/
}

.layer2-front span {
    position: absolute;
}

.layer2-front span:first-child {
    left: 21px;
    top: 16px;
    font-size: 13px;
}

.layer2-front span:nth-child(2) {
    left: 21px;
    top: 31px;
    font-size: 22px;
}

.layer2-front span:last-child {
    left: 185px;
    top: 35px;
    font-size: 16px;
}

.layer2-front span:last-child:after {
    content: url("../images/arrow.png");
    position: absolute;
    right: -19px;
}

.layer2:hover .layer2-front {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s;
}
.title .layer2:hover figcaption {
    color: #f26522;
}

.content {
    margin-top: 60px;
}

footer {
    text-align: center;
    padding-top: 197px;
    width: 349px;
    margin: 0 auto;
    font-size: 13px;
}

footer p {
    margin: 0;
}