@keyframes example {
    from {
        background-color: #497ddd;
    }
    to {
        background-color: #EF7D55;
    }

}

.container {
    border: 1px #3d4543 solid;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: #ff9933;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}