html, body {
    height: 100%;
}

body {
    font-family: Verdana;
}

.container {
    background-color: #FF9933;
    height: 100%;
    margin: 0 auto;
    width: 970px;
}

.container .main-header {
    height: 15%;
}

.container .header-nav,
.container .footer-nav {
    text-align: center;
    padding: 10px 0;
}


.container .header-nav a,
.container .footer-nav a {
    text-transform: uppercase;
}


.container .content {
    height: 75%;
}

.container .main-footer {
    height: 10%;
}

.container ul {
    margin-top: 0;
}

.for-test-purpose .special {
    display: inline-block;
    height: 100px;
    margin: 20px;
}
