.container {
    border: 1px #FF9933 solid;
    margin: 0 auto;
    width: 90px;
}

header, main, footer, section {
    border: 1px #6f6f6f solid;
    padding: 5px;
    margin: 5px;
}
section {
    background-color: #bccd95;
}

aside {
    background-color: #937341;
}

.left-aside {
    float: left;
    width: 30%;

}