header {
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    margin: 1%;
}
footer {
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
p {
    text-indent:3%;
}
main {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}
div.image-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    font-size: 22pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
}