
body {
    background-image: url("../images/star-wars.jpg");
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing: .15em;
}

.scroller {
    position: absolute;
    width: 60%;
    margin: 0 20%;
    height: 100%;
    font-size: 250%;
    text-align: justify; /**TODO center ?*/
    color: #f2d62f;
    transform: perspective(200px) rotateX(30deg);
}

.scroller div {
    position: absolute;
    top: 100%;
    animation: scroller 30s linear infinite;
}

.scroller p {
    margin: 1.35em 0 1.85em 0;
    line-height: 1.35em;
}

@keyframes scroller {
    0% {
        top: 100%;
        opacity: 0;
    }
    7% {
        top: 100%;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: -250%;
        opacity: 0;
    }
}
    /*buttons of sound on chrome*/

/*button {*/
/*    border-radius: 20px;*/
/*    background-color: #313937;*/
/*    color: #6f6f6f;*/
/*}*/

