body {
    background-color: #3d4543;
    color: #ffffff;
    font-family: Verdana;
}

.test-mouse {
    border: 1px #ff4561 solid;
    margin: 0 auto;
    padding: 10px;
    width: 200px;

}

.test-mouse h2:first-letter {
    color: red;
}

.test-mouse:hover {
    cursor: pointer;
    background-color: firebrick;
    color: goldenrod;
}

.some-list > li:nth-child(2n) {
    background-color: #FF9933;
    color: #3d4543;
}

