html, body {
    font-family: Verdana, Arial, sans-serif;
}
.container {
    width: 100%;
    color: #FFFFFF;
}
a, button {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}
h2 {
    text-transform: uppercase;
}
.navbar {
    background-color: #1d2124;
    display: flex;
    height: 70px;
    line-height: 70px;
    justify-content: space-between;
}
.logo {
    font-size: 22px;
    text-align: right;
    width: 177px;
    word-spacing: 27px;
}
.logo::before {
    content: "";
    background-color: #1a1d20;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    left: 0;
    position: absolute;
    height: 70px;
    width: 70px;
}
.main-menu {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
    list-style-type: none;
    width: 700px;
}
.search {
    background-color: #171a1c;
    text-align: center;
    width: 68px;
}
.top-header {
    display: flex;
    background-image: url("../images/header-bg.jpeg");
    background-attachment: fixed;
    background-position: left;
    font-size: 27px;
    height: 375px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-header h2 {
    font-weight: inherit;
}
.subscribe-btn, .articles-btn {
    border-radius: 5px;
    font-size: 18px;
    height: 55px;
    width: 170px;
    margin: 0 20px;
}
.subscribe-btn {
    background-color: #89ca62;
    border: 1px #89ca62 solid;
}
.articles-btn {
    background-color: #14b9d5;
    border: 1px #14b9d5 solid;
}
.section-1 {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.section-1 > h2 {
    color: #18b4cf;
    font-size: 27px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    width: 100%;
}
.main-section-1 {
    display: flex;
    flex-flow: column wrap;
    height: 900px;
    width: 1200px;
}
.main-section-1 .post {
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    width: 370px;
}
.post a {
    color: #353a3d;
    /*font-weight: bold;*/
    font-size: 18px;
    line-height: 40px;
}
.image-1 {
    order: 1;
}
.image-2 {
    order: 3;
}
.image-3 {
    order: 5;
}
.image-4 {
    order: 2;
}
.image-5 {
    order: 4;
}
.image-6 {
    order: 6;
}
.section2 {
    background-image: url("../images/parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: left center;
    height: 595px;
    display: grid;
    grid-template:
        "item1 item1 item1 item1" 10%
        "item2 item2 item2 item2" 12.5%
        "item3 item4 item5 item6" 13%
            / 17.5% 12% 15.5% 12%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.item1 {
    grid-area: item1;
    font-size: 32px;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
.section3 {
    background-color: #FFFFFF;
    height: 2000px;
    display: grid;
    align-content: space-evenly;
    justify-items: center;
    grid-template: 27px 190px 27px 1470px / 100%;
}
.top-rated, .hot-news{
    color: #18b4cf;
    font-size: 27px;
    align-self: center;
}
.latest-post {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}
.latest-post-img {
    width: 100%;
}
.hot-news-post {
    width: 1180px;
    display: grid;
    grid-template: 259px 418px 416px 259px / 1fr 3fr 3fr 1fr;
    align-content: space-between;
}
.hot-news-post div {
    background-color: #f9f7f7;
    color: #5b6469;
    font-size: 14px;
    line-height: 20px;
}
.hot-news-post a {
    font-size: 18px;
    color: #353a3d;
    line-height: 30px;
}
.last-post-1, .last-post-8 {
    width: 856px;
    display: grid;
    grid-template: 60px 199px / 483px 1fr 20px;
}
.last-post-2, .last-post-7 {
    text-align: center;
}
.last-post-3, .last-post-4, .last-post-5, .last-post-6 {
    text-align: right;
    width: 554px;
}
.last-post-4, .last-post-6, .last-post-8 {
    justify-self: right;
}
.last-post-1 {
    display: grid;
    grid-area: 1/1/2/4;
}
.last-post-2 {
    grid-area: 1/4/2/5;
}
.last-post-3 {
    grid-area: 2/1/3/3;
}
.last-post-4 {
    grid-area: 2/3/3/5;
    }
.last-post-5 {
    grid-area: 3/1/4/3;
}
.last-post-6 {
    grid-area: 3/3/4/5;
   }
.last-post-7 {
    grid-area: 4/1/5/2;
}
.last-post-8 {
    display: grid;
    grid-area: 4/2/5/5;
   }

.last-post-1 p, .last-post-8 p {
    grid-area: 2/2/3/3;
    text-align: right;
    width:322px;
    align-self: center;
    justify-self: right;
}
.last-post-1 .link-txt, .last-post-8 .link-txt {
    grid-area: 1/2/2/3;
    text-align: right;
    align-self: end;
}
.last-post-3 a, .last-post-4 a, .last-post-5 a, .last-post-6 a {
    margin-right: 20px;
}
.last-post-3 p, .last-post-4 p, .last-post-5 p, .last-post-6 p {
    margin: 15px 20px;
}
.footer {
    background-color: #1d2124;
    font-size: 13px;
    display: grid;
    grid-template: 80px/ 900px 300px;
    align-items: center;
    justify-content: center;
}
.footer-logo {
    background-image: url("../images/smart-object.png");
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
    justify-self: right;
    text-align: right;
    width: 105px;
}