html, body {
    font-family: helvetica, Verdana, sans-serif;
    margin: 0 auto;
    padding: 0;
}
.container {
    background-image: url("../images/rana-sawalha.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
}
button, a, .checkbox {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}
.forum, .ic-forum, .ic-journey, .journey, .caledar,
.ic-caledar {
    display: inline-block;
    background: url('../images/icons.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.forum {
    background-position: -5px -0px;
    width: 28px;
    height: 20px;
}

.forum:hover {
    background-position: -5px -25px;
}

.journey {
    background-position: -5px -75px;
    width: 20px;
    height: 20px;

}

.journey:hover {
    background-position: -5px -50px;
}

.caledar {
    background-position: -5px -100px;
    width: 19px;
    height: 19px;
}

.caledar:hover {
    background-position: -5px -124px;
}

.container {
    margin: 0 auto;
}

header {
    background-color: rgba(0, 0, 0, 0.44);
    height: 56px;
    margin: 0 auto;
    position: relative;
    color: #ffffff;

}

h1 {
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 5%;
}

h1>a:hover {
    color: #3cb878;
    transition: 0.3s;
}

.header-icons {
    position: absolute;
    right: 25%;
    top: 32%;
}
div.forum, div.journey {
    margin-left: 28px;
}

.header-icons > a {
    text-decoration: none;
}

.header-welcome {
    position: absolute;
    right: 8%;
    top: 32%;
    font-size: 16px;
}

.log-in, .sign-up {
    color: #3cb878;
}

.welcome {
    border-left: 2px solid #31302e;
    padding-left: 20px;
}
.main-form {
    background-color: #FFFFFF;
    width: 445px;
    height: 585px;
    position: fixed;
    top: 55%;
    left: 50%;
    margin-top: -292px;
    margin-left: -222px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.sign-in {
    display: initial;
    width: 323px;
    height: 523px;
}
.sign-up-main > span {
    font-weight: 600;
    font-size: 20px;
    color: #434343;
}
.sign-up-main {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}
.link-log {
    color: #3cb878;
    font-size: 14px;
    text-decoration: underline;
}
.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.shape {
    position: absolute;
    right: 427px;
    bottom: 535px;
}
.fg-btn {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    width: 157px;
    height: 46px
}
.fb {
    background-color: #305db8;
    transition: 0.3s;
}
.g {
    background-color: #df4a32;
    transition: 0.3s;
}
.facebook-btn {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1;
    padding: 0 18px;
}
.fb-logo {
    margin: 0 auto;
}
.facebook-btn::before {
    content: url("../images/rectangle.png");
    position: absolute;
    left: 110px;
    top: 83px
}


.fb:hover {
    background-color: #264b96;
}
.g:hover {
    background-color: #c3412c;
}
.g-btn {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1;
    padding: 0 25px;
}
.g-logo {
    margin: 0 auto;
}
.g-btn::before {
    content: url("../images/rectangle.png");
    position: absolute;
    right: 165px;
    top: 83px
}
.input {
    font-size: 14px;
    border: 1px #EDEDED solid;
    border-radius: 3px;
    padding-left: 10px;
    margin: 4px 0;
    width: 313px;
    height: 45px;
    opacity: 55%;
}
.input:focus {
    box-shadow: 0 4px 10px #00000050;
    outline: none;
    opacity: 100%;
}
.choice {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.or {
    color: #808080;
    margin: 0 16px;
}
.checkbox {
    display: inline-block;
    margin-bottom: 28px;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.checkbox-term {
    font-size: 14px;
    position: relative;
    padding: 0 0 0 30px;
}
.checkbox-term::before {
    content: "";
    border: 1px #BABABA55 solid;
    position: absolute;
    left: -1px;
    top: -3px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.checkbox input:checked + .checkbox-term::after {
    content: "";
    border: #3cb878 solid;
    border-width: 0 4px 4px 0;
    position: absolute;
    bottom: 0.2em;
    left: 0.33em;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
}
.checkbox {
    display: inline-flex;
    margin-top: 15px;
}

.checkbox a {
    position: relative;
    color: #56c18a;
    font-size: 14px;
}
.checkbox span {
    color: #434343;
}

.checkbox a:after {
    content: "";
    background-color: #3cb878;
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.5s ease-out;
}

.checkbox a:hover:after,
.checkbox a:focus:after {
    width: 100%;
}

.create-acc {
    color: #FFFFFF;
    font-size: 18px;
    background-color: #3cb878;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 325px;
    height: 46px;
    margin-top: 5px;
}

.create-acc:hover {
    background-color: #329a65;
}

